@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Nabla&display=swap');

:root {
  /* COLORS */
  --main-color: #000080;
  --light-main: #FFFFFF;
}

/* RESET */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
}


body{
  background-color: var(--main-color) !important;
  color: var(--light-main) !important;
}

a {
  cursor: pointer;
  text-decoration: none !important;
  color: var(--light-main) !important;
}

